# Python y Jupyter---
__pycache__/
*.py[cod]
.ipynb_checkpoints/

# Entornos Virtuales 
.env
.venv
env/
venv/

# Sistema Operativo 
.DS_Store
Thumbs.db

# Seguridad
secrets.json
credentials.json

# DATOS 
# 1. Ignorar todo en data/
data/raw/*
data/processed/*

# 2. Excepciones 
!data/raw/.gitkeep
!data/processed/.gitkeep
!data/raw/*.csv
!data/processed/*.csv